.folders-list {
  border-top: 2px solid var(--primary-color);
  padding-top: 15px;
  overflow-y: auto;
  height: 66vh;
  direction: rtl;
  width: 100%;
  overflow-x: hidden;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.2s;
  color: var(--primary-color);
  width: 100%;
  direction: ltr;
}

.folder:hover {
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.folder p {
  margin-top: auto;
  display: block;
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.folder.selected {
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.folder-btn {
  top: 70px;
  right: 10px;
  padding: 10px;
}

.folder.drag-over {
  background-color: var(--color4);
  transform: scale(1.05);
}

.folder.drag-over * {
  pointer-events: none;
}

.folder-icons {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.folder-icons .folder-icon {
  margin: 0;
}
