.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 200;
}

.popover-menu {
  position: absolute;
  z-index: 100;
  transform: translateX(+30%) translateY(-44%);
  min-width: 150px;
  width: 185px;
  background: var(--onPrimary-color);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  padding: 8px;
  border: 2px solid var(--primary-color);
}

.popover-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
}

.popover-item-btn {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  margin: 2px;
  padding-left: 5px;
  padding-right: 6px;
  gap: 10px;
}

.popover-item-btn p {
  height: fit-content;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-item-btn .folder-icon {
  flex-shrink: 0;
}

.popover-item-selected {
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.note.active-popover {
  background-color: rgb(86, 86, 86);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
  z-index: 10;
}

.note.active-popover .folder-btn {
  opacity: 1;
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}
