#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.menu-panel {
  background-color: blue;
  width: 6%;
}

.note-field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  border: 4px solid black;
  border-radius: 15px;
  height: 75vh;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  overflow-y: auto;
}

.note {
  border: 3px solid black;
  border-radius: 15px;
  width: 228px;
  height: 275px;
  margin: 2%;
  background-color: gray;
}

.note h3 {
  margin-inline: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note p {
  margin-inline: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  height: 150px;
}

.note-time {
  font-size: 16px;
}

.editor-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.title-input {
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.note-text {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 18px;
  resize: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
