#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

div {
  box-sizing: border-box;
}

.main {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.field {
  width: 100%;
  display: grid;
  grid-template-columns: 130px auto 30px;
  height: 100%;
  overflow: hidden;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.menu-panel button {
  display: flex;
  margin: 15px;
  text-align: center;
  width: 65px;
  height: 62px;
  justify-content: center;
}

button svg {
  flex-shrink: 0;
}

button:hover {
  scale: 1.05;
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.note-field {
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  border: 4px solid var(--primary-color);
  border-radius: 15px;
  height: 75vh;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-y: auto;
}

.note-list {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.note {
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  /* width: 228px; */
  width: 19.2%;
  height: 275px;
  margin: 0.4%;
  background-color: gray;
}

.note:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
  z-index: 10;
  background-color: rgb(86, 86, 86);
  scale: 1.02;
}

.note:hover .on-note-btn {
  opacity: 1;
}

.on-note-btn {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.delete-btn {
  top: 10px;
  right: 10px;
}

.delete-btn:hover {
  background-color: rgb(185, 24, 24);
  color: rgb(219, 219, 219);
}

.folder-btn {
  top: 70px;
  right: 10px;
  padding: 10px;
}

.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 200;
}

.popover-menu {
  position: absolute;
  z-index: 100;
  transform: translateX(+30%) translateY(-44%);
  min-width: 150px;
  width: 185px;
  background: var(--onPrimary-color);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  padding: 8px;
  border: 2px solid var(--primary-color);
}

.popover-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
}

.popover-item-btn {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  margin: 2px;
  padding-left: 5px;
  padding-right: 6px;
  gap: 10px;
}

.popover-item-btn p {
  height: fit-content;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-item-btn .folder-icon {
  flex-shrink: 0;
}

.popover-item-selected {
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.note.active-popover {
  background-color: rgb(86, 86, 86);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
  z-index: 10;
}

.note.active-popover .folder-btn {
  opacity: 1;
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.note h3 {
  margin-inline: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note p {
  margin-inline: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  height: 150px;
}

.note-time {
  font-size: 16px;
}

.note.dragging {
  opacity: 0.5;
  border: 2px;
}

.folder.drag-over {
  background-color: var(--color4);
  transform: scale(1.05);
}

.folder.drag-over * {
  pointer-events: none;
}

.editor-area {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.title-input {
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.note-text {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 18px;
  resize: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: grid;
  grid-template-rows: 8vh 5vh 20vh 7vh;
  background-color: var(--onPrimary-color);
  width: 20vw;
  height: 40vh;
}

.folder-icons {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.folder-icons .folder-icon {
  margin: 0;
}

.icon-circle {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  padding: 7px;
  background-color: rgba(60, 58, 58, 0.5);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.icon-circle.selected {
  background-color: rgba(0, 0, 0, 0.5);
}

.folders-list {
  border-top: 2px solid var(--primary-color);
  padding-top: 15px;
  overflow-y: auto;
  height: 66vh;
  direction: rtl;
  width: 100%;
  overflow-x: hidden;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.2s;
  color: var(--primary-color);
  width: 100%;
  direction: ltr;
}

.folder:hover {
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.folder p {
  margin-top: auto;
  display: block;
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.folder.selected {
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
