#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

div {
  box-sizing: border-box;
}

.main {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.field {
  width: 100%;
  display: grid;
  grid-template-columns: 130px auto 30px;
  height: 100%;
  overflow: hidden;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.menu-panel button {
  display: flex;
  margin: 15px;
  text-align: center;
  width: 65px;
  height: 62px;
  justify-content: center;
}

button svg {
  flex-shrink: 0;
}

button:hover {
  scale: 1.05;
  background-color: var(--primary-color);
  color: var(--onPrimary-color);
}

.delete-btn {
  top: 10px;
  right: 10px;
}

.delete-btn:hover {
  background-color: rgb(185, 24, 24);
  color: rgb(219, 219, 219);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: grid;
  grid-template-rows: 8vh 5vh 20vh 7vh;
  background-color: var(--onPrimary-color);
  width: 20vw;
  height: 40vh;
}

.icon-circle {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  padding: 7px;
  background-color: rgba(60, 58, 58, 0.5);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.icon-circle.selected {
  background-color: rgba(0, 0, 0, 0.5);
}
